apartamento,cnpjCpf,nome,email,telefone,cep,numero,complemento,bairro,cidade,uf,endereco,ddd,tipoPessoa
101,10120230344,ANTONIO BARRETO CIQUEIRA,,,69927000,999,Sem Complemento,Centro,Porto Acre,AC,Rua Acácias,,FISICA
